name: Create Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'The new version to tag, ex: 1.0.0'
        required: true
        type: string

permissions:
  contents: write

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Create Release
        run: |
          set -euo pipefail

          PREFIX="rules_swift_resources-$TAG"
          TARBALL="$PREFIX.tar.gz"
          git archive --format=tar --prefix="$PREFIX/" HEAD | gzip > "$TARBALL"
          gh release create "$TAG" --title "$TAG" --target "$GITHUB_REF_NAME" --generate-notes "$TARBALL"
        env:
          TAG: ${{ inputs.tag }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-to-bcr:
    needs: create-release
    uses: bazel-contrib/publish-to-bcr/.github/workflows/publish.yaml@v1.0.0
    with:
      tag_name: ${{ inputs.tag }}
      registry_fork: jeffhodsdon/bazel-central-registry
      draft: false
      attest: false
    secrets:
      publish_token: ${{ secrets.BCR_PUBLISH_TOKEN }}
